.dropdown-galery {
  display: flex;
}

ul a {
  color: silver;
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style: none;
  margin-left: 12px;
  margin-top: 7px;
  text-align: center;
  width: 90%;
  padding: 30px;
}

li {
  text-shadow: 3px 1px 46px white;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

li:hover {
    text-shadow: 1px 1px 10px white;
    font-size: 21px;
}

ul.baptism {
  /* background-image: url("/assets/pictures/baptism-img.jpg"); */
  background-repeat: no-repeat;
  background-size: 300px 340px;
  box-shadow: 1px 1px 10px;
}

ul.weding {
  /* background-image: url("/assets/pictures/weding-img.jpg"); */
  background-repeat: no-repeat;
  background-size: 300px 340px;
  box-shadow: 1px 1px 10px;
}

ul.party {
  /* background-image: url("/assets/pictures/party-img.jpg"); */
  background-repeat: no-repeat;
  background-size: 300px 340px;
  box-shadow: 1px 1px 10px;
}
