<div class="dropdown-galery" (click)="click($event)">
    <ul [routerLink]="[ '/baptism-images' ]" class="baptism">
        <a>АКСЕСОАРИ ЗА КРЪЩЕНЕ</a>
        <li>Бурканче за мед</li>
        <li>Кутийки за косичка</li>
        <li>Кърпа за кръстниците</li>
        <li>Кърпа за кръщелника</li>
        <li>Кърпа за свещеника</li>
        <li>Папка за кръщелно свидетелство</li>
        <li>Подаръци за гости</li>
        <li>Покани</li>
        <li>Свещи</li>
        <li>Шишенце за миро</li>
    </ul>
    <ul [routerLink]="[ '/wedding-images' ]" class="weding">
        <a>АКСЕСОАРИ ЗА СВАТБА</a>
        <li>Бутониери</li>
        <li>Кутийки и възглавнички за халки</li>
        <li>Платно за младоженци</li>
        <li>Покани</li>
        <li>Свещи</li>
        <li>Шампанско</li>
    </ul>
    <ul [routerLink]="[ '/party-images' ]" class="party">    
        <a>ПАРТИ АРТИКУЛИ</a>
        <li>Балони с печат</li>
        <li>Балони с хелий</li>
        <li>Банери</li>
        <li>Конфети</li>
        <li>Латексови балони без печат</li>
        <li>Покривки</li>
        <li>Салфетки</li>
        <li>Свещи за торта</li>
        <li>Фоерверки за торта</li>
        <li>Фолио балони с герои</li>
        <li>Фолио балони цифри</li>
        <li>Чашки</li>
        <li>Чинийки</li>
    </ul>
</div>
