<div>
    <ul (click)="getImages($event)" class="baptism">
        <div>АКСЕСОАРИ ЗА КРЪЩЕНЕ</div>
        <li>Бурканче за мед</li>
        <li>Кутийки за косичка</li>
        <li>Кърпа за кръстниците</li>
        <li>Кърпа за кръщелника</li>
        <li>Кърпа за свещеника</li>
        <li>Папка за кръщелно свидетелство</li>
        <li>Подаръци за гости</li>
        <li>Покани</li>
        <li>Свещи</li>
        <li>Шишенце за миро</li>
    </ul>
    
    <app-image-list [images]="images"></app-image-list>  
</div>
