/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("./assets/pictures/back-ground.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
