<div id="nav" class="row">
    <div class="col-md-3" id="block1">
        <h1 id="home" [routerLink]="[ '/home' ]">Home</h1>
    </div>
    <div class="col-md-3" id="block1">
        <h1 id="galery" [routerLink]="[ '/image-list' ]">Галерия</h1>
    </div>
    <div class="col-md-3" id="block2">
        <h1 id="delivery" [routerLink]="[ '/delivery' ]">Доставки</h1>
    </div>
    <div class="col-md-3" id="block3">
        <h1 id="contacts" [routerLink]="[ '/contacts' ]">Контакти</h1>
    </div>
</div>
