@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* @import url('../../../node_modules/bootstrap/dist/css/bootstrap.css'); */



#nav{
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    cursor: pointer;
}

.col-md-4 {
    width: auto;
}

.galery-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}

#nav div:hover > .galery-content {
    height: 7em;
}
