@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* @import url('../../../node_modules/bootstrap/dist/css/bootstrap.css'); */



#nav{
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    cursor: pointer;
}

.galery-content {
    position: absolute;
    display: flex;
    top: 100%;
    /* left: 0; */
    width: 300%;
    overflow: hidden;
    display: none;
    list-style: none;
}

#nav div:hover > .galery-content {
    height: 22em;
    display: flex;
}

h1{
    outline: none;
}
