@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
/* @import url('../../../node_modules/bootstrap/dist/css/bootstrap.css'); */



#nav{
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Old Standard TT', serif;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    cursor: pointer;
}

.galery-content {
    position: absolute;
    top: 100%;
    left: -200px;
    width: 300%;
    display: none;
}

#nav div:hover > .galery-content {
    height: 22em;
    display: flex;
}

div h1 {
    color: black;
    text-shadow: 1px -2px 15px white
}
