<div id="nav" class="row">
    <div class="col-md-3" id="block1">
        <h1 id="home" [routerLink]="[ '/home' ]">Home</h1>
    </div>
    <div class="col-md-3" id="block1">
        <h1 id="galery" [routerLink]="[ '/galery' ]">Galery</h1>
        <div class="galery-content">
            <p [routerLink]="[ '/image-list' ]">АКСЕСОАРИ ЗА КРЪЩЕНЕ</p>
            <p>АКСЕСОАРИ ЗА СВАТБА</p>
            <p>ПАРТИ АРТИКУЛИ</p>
        </div>
    </div>
    <div class="col-md-3" id="block2">
        <h1 id="delivery" [routerLink]="[ '/delivery' ]">Delivery</h1>
    </div>
    <div class="col-md-3" id="block3">
        <h1 id="contacts" [routerLink]="[ '/contacts' ]">Contacts</h1>
    </div>
</div>
