<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <p>Phone: 273182365</p>
    <p>Address: 612532136</p>
    <p>Email: hagfjkasdf</p>
    <p>Facebook: hagfjkasdf</p>
    <p>Facebook: hagfjkasdf</p>
  </div>
</div>
<!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->