.container {
  background: rgba(255, 0, 0, 0.2);
}

.jumbotron {
  background: none !important;
}

google-map {
  height: "500px";
  width: "100%";
  /* zoom: "zoom";
  content: "center";
  contain: "options"; */

  /* bottom: 202px;
  position: relative;
  left: 1000px; */

}
